BASE_URL_CLIENT=http://localhost:5173
PORT=4000
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=obookgroove
PG_USER=spedata
PG_PASSWORD=spedata
ACCESS_TOKEN_SECRET="Le gros secret de fou!"
REFRESH_TOKEN_SECRET="Le gros secret de fou!"
HOST_EMAIL='smtp.office365.com'
USER_EMAIL='adresse email'
PASS_EMAIL='mot de passe'
PORT_EMAIL=587
SECRET_KEY_RECAPTCHA=6LeBIwcqAAAAAJlGDhb_yDwtHmMB6jU1KPTSF-ad
CLIENT_KEY_RECAPTCHA=6LeBIwcqAAAAAKgt6k3vQ6IDX2Ze6sXdUgA7i8ei